@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    transition: ease all 1s;
}

.image-container {
    height: 90%;
    margin-top: 3vh;
}
    
    @media screen and (max-width: 680px) {
        .image-container {
            margin-top: 10vh;
        }
    }

    .image-container img {
        -webkit-box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.4); 
        box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.4);
        max-height: 540px;
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        /* border: 10px solid white; */
    }

        #image-location {
            margin-left: 7vw;
            font-size: 18px;
            letter-spacing: .5em;
            color: #bfbfbf;
            padding-bottom: 10px;
            font-family: 'Cinzel', serif;
        }

            @media screen and (max-width: 680px) {
                #image-location {
                    margin-left: 11vw;
                    font-size: 14px;
                }
            }

    .trapezoid {
        border-bottom: 50px solid #d9d9d9;
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
        height: 0;
        position: absolute;
        transform: translateY(4.3vh);

    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-top: 6vh;
        padding: 0;
    }

        @media screen and (min-width: 680px) {
            .scrolling-wrapper {
                margin-top: 4vh;
            }
        }

        .scrolling-wrapper .card {
            display: inline-block;
            width: 9vh;
            height: 7vh;
            margin: 15px 5px;
        }

            .scrolling-wrapper .card:hover {
                transform: translateY(-10px);
                box-shadow: 0 15px 15px -12px rgb(155, 154, 154);
            }

        /* doesn't work at the moment */
        .card-start {
            margin-left: 0;
            margin-right: 5px;
        }

        /* doesn't work at the moment */
        .card-end {
            margin-left: 5px;
            margin-right: 0;
        }

            .card img {
                height: 100%;
                width: 100%;
            }


    ::-webkit-scrollbar {
        height: 8px;
        width: 14px;
    }
        
        ::-webkit-scrollbar-track {
            background: white;
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            background:linear-gradient(to right, hsl(280, 36%, 72%),hsl(209, 59%, 80%), hsl(181, 36%, 72%)); 
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background:linear-gradient(to right, hsl(280, 36%, 62%),hsl(209, 59%, 70%), hsl(181, 36%, 62%));
        }