::-webkit-scrollbar {
  height: 8px;
  width: 14px;
}
  
  ::-webkit-scrollbar-track {
      background: white;
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
      background:linear-gradient(to right, hsl(280, 36%, 62%),hsl(209, 59%, 70%), hsl(181, 36%, 62%)); 
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover:horizontal {
      background:linear-gradient(to right, hsl(280, 36%, 72%),hsl(209, 59%, 80%), hsl(181, 36%, 72%));
  }

  ::-webkit-scrollbar-thumb:vertical {
      background:linear-gradient(hsl(280, 36%, 62%),hsl(209, 59%, 70%), hsl(181, 36%, 62%)); 
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover:vertical {
      background:linear-gradient(hsl(280, 36%, 72%),hsl(209, 59%, 80%), hsl(181, 36%, 72%));
  }
