@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

* {
    transition: ease all 1s;
}

#navbar-row {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1)5; 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}

.image-container {
    height: 90%;
    margin-top: 5vh;
}

    .image-container img {
        -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5); 
        box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.5);
        max-height: 500px;
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        /* border: 3px solid white; */
    }

        #main-image-box:hover > #main-image {
            filter:brightness(30%);
            transition: 0.5s ease all;
        }

        #main-image-box:hover > #add-pack-button img {
            opacity: 1;
            transition: 0.5s ease all;
        }
    
    #ADD-PACK-BUTTON {
        background-color: white;
        border: none;
    }

        #ADD-PACK-BUTTON:focus, #ADD-PACK-BUTTON:active {
            outline: none;
            box-shadow: none;
        }

    #image-location {
        margin-left: 7vw;
        font-size: 18px;
        letter-spacing: .5em;
        padding-bottom: 15px;
        font-family: 'Cinzel', serif;
        background: -webkit-linear-gradient(360deg, hsl(280, 36%, 52%),hsl(209, 59%, 60%), hsl(181, 36%, 52%));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }

    #add-pack-button img {
        position: absolute;
        bottom: calc(50% - 60px);
        left: calc(50% - 30px);
        height: 80px;
        width: 80px;
        -webkit-box-shadow: none; 
        box-shadow: none;
        opacity: 0;
        transition: 0.25s ease all;
    }

.trapezoid {
    border-bottom: 50px solid;
    border-color: #F2F2F2;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    height: 0;
    position: absolute;
    transform: translateY(3vh);
    box-shadow: 0 13px 15px -12px rgb(155, 154, 154);
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 6vh;
    padding: 0;
}

    .scrolling-wrapper .card {
        display: inline-block;
        width: 9vh;
        height: 7vh;
        margin: 15px 5px;
        margin-bottom: 30px;
        border: none;
        border-radius: 3px;
    }

        .scrolling-wrapper .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 13px 15px -12px rgb(87, 87, 87);
            transition: 0.5s ease all;
        }

        .card img {
            height: 100%;
            width: 100%;
            border-radius: 3px;
        }


@media screen and (min-width: 680px) {    
    .scrolling-wrapper {
        margin-top: 4vh;
    }
}

@media screen and (max-width: 680px) {
    .image-container {
        margin-top: 9vh;
    }

    .image-container img {
        max-height: 480px;
    }

    #image-location {
        margin-left: 11vw;
        font-size: 14px;
    }
    
    .trapezoid {
        transform: translateY(3.6vh)
    }
}

@media screen and (max-width: 1200px) {
    .image-container {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 840px) {
    .image-container {
        margin-top: 7vh;
    }
}



.modal-header {
    background-image: -webkit-linear-gradient(360deg, hsl(280, 36%, 77%),hsl(209, 59%, 85%), hsl(181, 36%, 77%));
    background-position: bottom;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    border: none;
}

hr {
    width: 97%;
}

.modal-title, .thName, .thUnit, td, .form-label, .form-control, .form-group button, .form-control option {
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
}

td, .form-control, .form-control option {
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.thName, .form-label, .form-group button {
    font-size: 17px;
}

.thUnit {
    font-size: 10px;
    padding-left: 5px;
}

.modal-body {
    margin: 0 1vw;
}

    .modal-body .col-8 {
        padding-left: 0px;
    }

#formAddToPack {
    margin-bottom: 0;
}

    #addToPackModalButton {
        position: absolute;
        bottom: 19%;
        right: 5px;
        width: 85%;
        padding: 7px 0;
        border: 1px solid;
        border-image-source: linear-gradient(90deg, hsl(280, 36%, 72%),hsl(209, 59%, 80%), hsl(181, 36%, 72%));
        border-image-slice: 1;
        background: -webkit-linear-gradient(360deg, hsl(280, 36%, 52%),hsl(209, 59%, 60%), hsl(181, 36%, 52%));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
    }